{
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "globals": {
    "document": true,
    "process": true,
    "window": true,
    "console": true
  },
  "rules": {
    "max-len": [1, 80, 2, {
      "ignoreComments": true
    }],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-console": ["off"],
    "react/prop-types": ["off"],
    "react-hooks/rules-of-hooks": "error", // 检查 Hook 的规则
    "react-hooks/exhaustive-deps": "warn" // 检查 effect 的依赖
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  }
}