{
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "globals": {
    "document": true,
    "process": true,
    "window": true,
    "console": true
  },
  "rules": {
    "max-len": [1, 80, 2, { "ignoreComments": true }],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-console": ["off"],
    "react/prop-types": ["off"]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
